<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title> Blog </title>
		<meta http-equiv ="Content-Type" content ="text/html; charset =UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
		<link href="../static/css/Layout.css" th:href="@{/css/boot.css}" rel="stylesheet" />
		
</head>
<body>
		<header>
			<nav  th:insert="~{fragments :: my-fragment1}"></nav>
		</header>
	<main role="main">
		<section class="jumbotron ">
			<h1>Les differentes adresses et auteurs</h1>
			<ul th:each="address:${allAdresses}">
				<li th:text="'Adresse : ' + ${address.content} "/>
				<ul>
					<li th:text="'Auteur : ' + ${address.auteur} "/>
				</ul>
			</ul>	
		</section>
	</main>		
	</body>
</html>